*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*common css style start*/
.container{
    max-width: 1240px;
    margin: 0% auto;
}
.betwen{
    display: grid;
gap: 5rem;
grid-template-columns: repeat(2, minmax(0,1fr));
left: 10px;
align-items: center;
}

/*common css style end*/

.navbar{
    max-width:93% ;
    margin: 0% auto;
    display: flex;
    gap:50px;
    padding: 20px 40px;
    color: rgb(14, 14, 161);
    & h3{
        font-weight: bold;
        font-size: 20px;
    }
    & div{
        border: 3px solid grey;    
        padding: 5px;
        display: flex;
        gap: 2px;
        font-weight: 600;
        border-radius: 5px;

    }
}
.banner-img{
    position: absolute;
    width: 50dvw;
    right: 0;
    top: 0;
    z-index: -155;
}
.section{
  padding: 120px; 
  & h1{
    font-size: 50px;
    color: rgb(22, 22, 145);
  }
  & div{
    padding: 20px 0;
    display: flex;
    gap: 4px;
    font-size: 25px;
    color: rgb(26, 26, 143);
    align-items: center;
    justify-items: center;
  }
}
button{
    color: aliceblue;
    background-color: rgb(15, 15, 117);
    padding: 15px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
}
.section1{
padding: 140px 0;



& img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}
.div1{
    & h2{
        font-size: 70px;
        font-weight: 600;}
}
.p1{
    padding: 40px 0;
    font-size:30px ;
    color:gray;
}
.store{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    background-color: rgb(186, 186, 199);
    border-radius: 200px;
    width: fit-content;
    
    & p{
        font-size: 10px;
    }
    & h3{
        font-size: 20px;
        font-weight: 600;
    }
    & img{
        width: 30px;
    }
}
}
/*track section*/
.section2{
    position: relative;
    .bg{
        position: absolute;
        z-index: -1;
        left: 0;
        top:10%
    }
    .left-section{
       & h2{
        font-size: 80px;
       } 
       .image-grid{
        padding-top: 80px;
        padding-left: 80px;
        display: flex;
        gap: 25px;
        & div{
            width: 150px;
            display: flex;
            flex-direction: column;
            gap: 20px;
             }
          & div:nth-child(2){
            margin-top: 40px;
          }  
       }

    }
    .right-section{
       & h3{
        font-size: 40px;
        font-weight: 500;
        padding-right: 8rem ;
       }
       .details-div{
        display: flex;
        align-items: start;
        gap: 30px;
        margin-top: 60px;

        & div{
            padding-left: 20px;

            & p{
                font-size: 20px;
                font-weight: 500;
                padding-top: 20px;
                max-width: 300px;
            }
        }

       }

    }
}
/*company*/

.company{
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/*join*/
.join{
    width: 90%;
    margin: 120px auto;
    background-color: rgb(144, 157, 199);
    border-radius: 50px;
    display:grid;
    align-items: center;
    grid-template-columns:repeat(2, minmax(0, 1fr)) ;
    .details{
        display:flex ;
        justify-content: center;
        margin: 0% auto;
        flex-direction: column;
        gap: 30px;
    }
    & h2{
        font-size:65px ;
    }
    .store{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 30px;
        background-color: rgb(186, 186, 199);
        border-radius: 200px;
        width: fit-content;
        
        & p{
            font-size: 10px;
        }
        & h3{
            font-size: 20px;
            font-weight: 600;
        }
        & img{
            width: 30px;
        }
    }
}
.copy{
    text-align: center;
    color: rgb(62, 139, 139);
    margin-bottom: 15px;
}





@media screen and (max-width: 767px){
    .container{
      padding: 0 16px;
    }
    .betwen{
    gap: 3rem;
    grid-template-columns: repeat(1, minmax(0,1fr));
    left: 10px;
    }   
    .section{
        padding: 50px 16px; 
       
       
        & h1{
          font-size: 30px;
        
        }
        & div{
          padding: 15px 0;
          font-size: 20px;
        
        }
    }
    .section2{
     
        .bg{
            left: 0;
            top:0%;
            width: 100%;
        }
        .left-section{
           & h2{
            font-size: 40px;
           } 
           .image-grid{
            padding-top: 40px;
            padding-left: 40px;
            
            gap: 16px;
            & div{
                width: 130px;
               
                gap: 10px;
                 }
              & div:nth-child(2){
                margin-top: 40px;
              }  
           }
    
        }
        .right-section{
           & h3{
            font-size: 24px;
           
            padding-right: 0rem ;
           }
           .details-div{
        
            gap: 30px;
            margin-top: 24px;
    
            & div{
                padding-top: 16px;
    
                
            }
    
           }
    
        }
    }
    .company{
        margin-top: 50px;
    }
    .join{
        margin: 80px auto;
        border-radius: 25px;
        grid-template-columns:repeat(1, minmax(0, 1fr)) ;
        .details{
            margin:16px;
        }
        & h2{
            font-size:35px ;
        }
        .store{
            gap: 15px;
            padding: 10px 20px;
            border-radius: 200px;
            & h3{
                font-size: 16px;
            }
            & img{
                width: 20px;
            }
            }
        & img{
            width: 100%;
        }
        }
        .ccc{
            height: 50px;
            & img{
                height: 20px;
            }
        }

    }
    

